@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Cenzo Flare";
    src:
      url("/fonts/CenzoFlare-Regular.woff2") format("woff2"),
      url("/fonts/CenzoFlare-Regular.woff") format("woff"),
      url("/fonts/CenzoFlare-Regular.ttf") format("truetype"),
      url("/fonts/CenzoFlare-Bold.woff2") format("woff2"),
      url("/fonts/CenzoFlare-Bold.woff") format("woff"),
      url("/fonts/CenzoFlare-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Sanelma";
    src:
      url("/fonts/SanelmaW00-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

[x-cloak] {
  display: none !important;
}

html {
  scroll-padding-top: 100px; /* Adjust this value based on your header height */
}

.ql-editor {
  font-family: "Cenzo Flare", sans-serif; /* Or the global font you're using */
  font-size: 1rem; /* Adjust as needed */
  line-height: 1.5; /* Adjust as needed */
  color: inherit; /* Inherits global color settings */
}

.my-editor-wrapper .ql-container {
  height: 400px; /* Adjust this value to your desired height */
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideInFromTop 0.5s ease-out forwards;
}

.jiggle {
  animation: jiggle 0.6s ease;
}

@keyframes jiggle {
  0%, 100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(1deg);
  }
}

.custom-font {
  font-family: "Sanelma", sans-serif;
}

.link-underline {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.link-underline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: white;
  transition:
    width 0.4s ease,
    left 0.4s ease;
}

.link-underline:hover::after {
  width: 100%;
  left: 0;
}

@media (hover: none) {
  .link-underline:hover::after {
    width: 0;
  }
}

/* Product Grid */
.vendor-container {
  max-width: 1200px;
  margin: 0 auto;
}

.tabs {
  display: flex;
  padding: .25rem;
  background: #FFC66D;
}

.tab {
  padding: 0.5rem 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  color: black;
}
.tab.active {
  color: #7F0201;
}

.vendor-item {
  padding: 0.75rem;
  letter-spacing: 0.05em;
  font-weight: 800;
  color: #452B1F;
  margin-top: auto;
  margin-bottom: auto;
}

.narrow-row {
  grid-column: span calc((var(--columns) - 1)/2);
}

@media (min-width: 768px) {
  .vendors-grid {
    gap: 1rem;
  }
  
  .narrow-row {
    grid-column: span calc((var(--columns) + 1)/2);
  }
}

@media (min-width: 900px) {
  .vendors-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}