@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Cenzo Flare';
    src: url('/fonts/CenzoFlare-Regular.woff2') format('woff2'),
        url('/fonts/CenzoFlare-Regular.woff') format('woff'),
        url('/fonts/CenzoFlare-Regular.ttf') format('truetype'),
        url('/fonts/CenzoFlare-Bold.woff2') format('woff2'),
        url('/fonts/CenzoFlare-Bold.woff') format('woff'),
        url('/fonts/CenzoFlare-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

[x-cloak] {
  display: none !important;
}

html {
  scroll-padding-top: 100px; /* Adjust this value based on your header height */
}

.ql-editor {
  font-family: 'Cenzo Flare', sans-serif; /* Or the global font you're using */
  font-size: 1rem; /* Adjust as needed */
  line-height: 1.5; /* Adjust as needed */
  color: inherit; /* Inherits global color settings */
}

.my-editor-wrapper .ql-container {
  height: 400px; /* Adjust this value to your desired height */
}