---

---

<section id="about" class="xs:mx-10 sm:mx-14 md:mx-28 lg:mx-80 pt-28">
  <h1 class="mx-24 pb-6 font-bold text-3xl tracking-widest">
    Where Pets are People too
  </h1>
  <p class="mx-10">
    Lorem ipsum odor amet, consectetuer adipiscing elit. Id tincidunt augue quam
    adipiscing ante posuere egestas penatibus sollicitudin. Placerat odio
    suscipit adipiscing pellentesque; himenaeos dapibus egestas vitae? Consequat
    sagittis cras lacinia, elit laoreet primis turpis sit. Conubia nulla per
    nascetur luctus laoreet nulla elit est.
  </p>
</section>
