---

---

<section
  id="about"
  class="mx-1 sm:mx-14 md:mx-28 lg:mx-64 pt-48 pb-6 text-md md:text-base"
>
  <p class="ml-8 mr-2 sm:ml-0 sm:mr-0 sm:mx-10 text-[#452B1F]">
    Lorem ipsum odor amet, consectetuer adipiscing elit. Id tincidunt augue quam
    adipiscing ante posuere egestas penatibus sollicitudin. Placerat odio
    suscipit adipiscing pellentesque; himenaeos dapibus egestas vitae? Consequat
    sagittis cras lacinia, elit laoreet primis turpis sit. Conubia nulla per
    nascetur luctus laoreet nulla elit est.
  </p>
</section>
