---
const { isVisible } = Astro.props;
---

{
  isVisible && (
    <section class="flex bg-[#7F0201] font-bold tracking-wider text-white">
      <h2 class="mx-auto justify-between px-6 py-2">Announcements</h2>
    </section>
  )
}
