---
import BlogPostCard from "../ui/BlogPostCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Button from "../ui/Button.astro";

// Fetch all blog posts and ensure type safety
const posts: CollectionEntry<"blog">[] = await getCollection("blog");

// Sort posts by publish date (most recent first)
const sortedPosts = posts.sort((a, b) => {
  return (
    new Date(b.data.publishDate).getTime() -
    new Date(a.data.publishDate).getTime()
  );
});

// Use a Set to ensure uniqueness by slug
const uniquePosts = Array.from(new Set(sortedPosts.map((post) => post.slug)))
  .map((slug) => sortedPosts.find((post) => post.slug === slug))
  .filter((post): post is CollectionEntry<"blog"> => post !== undefined); // Filter undefined values

// Take the first 3 unique posts (adjust the number as needed)
const recentPosts = uniquePosts.slice(0, 3);
---

<section id="blog" class="mx-10 py-16 lg:py-24">
  <h3 class="lg:mx-24 pb-3 font-bold text-2xl lg:text-3xl tracking-widest">
    Recent Blog Posts
  </h3>

  <div
    class="flex flex-col xl:flex-row xl:mx-24 justify-center items-center py-6 space-y-4"
  >
    {recentPosts.map((post) => <BlogPostCard post={post} key={post.slug} />)}
  </div>

  <div
    class="flex flex-1 justify-center font-bold text-xl lg:text-2xl tracking-wider"
  >
    <Button
      transition:animate="slide"
      text="View More Posts"
      href="/blog"
      class="bg-[#7F0201] hover:bg-[#A52A2A] text-white font-bold py-2 px-4 rounded-xl"
      data-astro-prefetch
    />
  </div>
</section>
