---
import ContactForm from "../ui/ContactForm.jsx";
import Map from "../ui/Map.astro";
---

<section class="flex flex-col justify-center p-10 bg-[#FFC66D]">
  <div class="flex justify-left">
    <ContactForm client:load />
  </div>

  <div class="flex justify-end">
    <Map />
  </div>
</section>
