<section class="flex">
  <div
    class="relative top-9 md:top-11 flex flex-col items-center justify-center z-10"
  >
    <h3
      class="text-2xl md:text-3xl xl:text-4xl custom-font text-white underline"
    >
      Customer Resources:
    </h3>
    <a
      id="astro-loyalty-link"
      href="https://secure.astroloyalty.com/members.php?ld=xZzugnkcBMFfSCrQA%2F4%3D"
      target="_blank"
      rel="noopener noreferrer"
      class="inline-flex items-center justify-center text-3xl xl:text-4xl pt-1.5 tracking-wider custom-font link-underline z-10"
    >
      Astro Loyalty
    </a>
  </div>
</section>

<script is:inline type="module">
  document.addEventListener("DOMContentLoaded", () => {
    const link = document.getElementById("astro-loyalty-link");

    if (link) {
      link.addEventListener("click", (e) => {
        if ("startViewTransition" in document) {
          e.preventDefault();
          document.startViewTransition(() => {
            window.location.href = link.href;
          });
        }
      });
    }
  });
</script>
