<section
  id="grooming"
  class="md:mx-12 lg:mx-36 xl:mx-48 2xl:mx-64 min-[1700px]:mx-80 min-[1900px]:mx-110 min-h-[700px] -mt-36 mb-32 min-[1077px]:mb-48 min-[1298px]:mb-28 pt-44"
>
  <img
    src="/src/assets/pet-grooming.webp"
    alt="Products logo"
    class="h-[150px] md:h-[180px] lg:h-[235px] w-auto mx-auto mb-6"
  />
  <p class="mx-10 sm:mx-16 md:mx-28 text-[#452B1F]">
    Grooming services typically include a range of treatments to keep pets clean
    and healthy. <span class="font-bold">Full service baths</span>
    involve washing and conditioning the pet&#39;s coat, followed by drying.
    <span class="font-bold">Haircuts</span> are offered for pets needing a trim or
    specific grooming style. <span class="font-bold">Tidy-ups</span>
    focus on lighter grooming, such as trimming around the face, paws, or tail. <span
      class="font-bold">Nail trims</span
    > or <span class="font-bold">dremmeling</span> are done to maintain healthy nails,
    with dremmeling being a smoother, more rounded alternative to traditional clipping.
    These services help maintain a pet’s hygiene, appearance, and comfort.
  </p>
  <p
    class="mx-16 sm:mx-36 md:mx-48 text-[#452B1F] text-center font-bold mt-6 lg:mb-36"
  >
    Prices vary depending on the breed and size of the dog.
    <br />
    <br />
    Cat nail trims and tidy-ups are also available.
  </p>
</section>
