<section id="hero" class="relative mx-auto flex flex-col items-center">
  <img
    src="https://placehold.co/500x200"
    alt="PT Pet Supply logo"
    class="pt-10 pb-96 drop-shadow-2xl"
  />

  <img
    src="/src/assets/mainecoon.png"
    alt="Maine Coon"
    class="absolute bottom-0 left-0 drop-shadow-2xl w-auto max-h-[700px] object-contain -mb-80"
  />
  <img
    src="/src/assets/husky.png"
    alt="Siberian Husky"
    class="absolute bottom-0 right-0 drop-shadow-2xl w-auto max-h-[700px] object-contain -mb-80"
  />

  <img
    src="/src/assets/landscape.png"
    alt="Background landscape"
    class="absolute inset-0 left-1/2 transform -translate-x-1/2 w-full h-full object-cover z-[-2]"
  />
  <img
    src="/src/assets/fence.png"
    alt="Background picket fence"
    class="absolute bottom-4 left-1/2 transform -translate-x-1/2 w-full h-[63%] max-w-none object-cover -mb-28 z-[-1]"
  />
</section>
