<section
  id="hero"
  class="relative mx-auto flex flex-col items-center h-80 md:h-auto"
>
  <img
    src="https://placehold.co/500x200"
    alt="PT Pet Supply logo"
    class="min-[350px]:px-12 min-[450px]:px-16 min-[525px]:px-24 sm:px-32 lg:px-0 md:mx-0 pt-4 md:pt-10 pb-96 drop-shadow-2xl"
  />

  <img
    src="/src/assets/mainecoon.png"
    alt="Maine Coon"
    class="absolute bottom-0 left-0 -ml-16 sm:-ml-10 md:-ml-28 lg:ml-20 xl:ml-30 2xl:ml-40 min-[1800px]:ml-80 min-[350px]:h-[330px] min-[475px]:h-[370px] md:h-[600px] drop-shadow-2xl w-auto max-h-[700px] object-contain -mb-52 md:-mb-80"
  />
  <img
    src="/src/assets/husky.png"
    alt="Siberian Husky"
    class="absolute bottom-0 right-0 -mr-20 sm:-mr-14 md:-mr-32 lg:mr-14 xl:mr-24 2xl:mr-36 min-[1800px]:mr-72 min-[350px]:h-[330px] min-[475px]:h-[370px] md:h-[600px] drop-shadow-2xl w-auto max-h-[700px] object-contain -mb-52 md:-mb-80"
  />

  <img
    src="/src/assets/landscape.png"
    alt="Background landscape"
    class="absolute inset-0 left-1/2 transform -translate-x-1/2 w-full h-full object-cover z-[-2]"
  />
  <img
    src="/src/assets/fence.png"
    alt="Background picket fence"
    class="absolute bottom-14 md:bottom-6 left-1/2 transform -translate-x-1/2 w-full h-[63%] max-w-none object-cover -mb-28 md:-mb-36 z-[-1]"
  />
</section>
