---

---

<section class="flex relative mx-auto">
  <div class="flex relative mx-auto">
    <img
      src="https://placehold.co/500x500"
      alt="Dog"
      class="pt-48 pr-20 drop-shadow-lg"
    />
    <img
      src="https://placehold.co/500x200"
      alt="PT Pet Supply logo"
      class="pb-72 drop-shadow-xl"
    />
    <img
      src="https://placehold.co/500x500"
      alt="Dog"
      class="pt-48 pl-20 drop-shadow-lg"
    />
  </div>
  <img
    src="https://placehold.co/4000x200"
    alt="Background picket fence"
    class="absolute bottom-5 left-0 w-full h-[35%] object-cover z-[-1]"
  />
</section>
