---
// Links.astro

interface LinksProps {
  currentPage: string;
}

import Button from "../ui/Button.astro";

const currentPage = Astro.url.pathname as LinksProps["currentPage"];
---

<div class="flex space-x-4">
  {
    currentPage == "/grooming" && (
      <Button
        transition:animate="slide"
        text="Home"
        href="/"
        class="pl-6"
        data-astro-prefetch
      />
    )
  }
  <Button
    transition:animate="slide"
    text="Products"
    href="/#products"
    class="pl-6"
  />
  <Button
    transition:animate="slide"
    text="About Us"
    href="/#about"
    class="pl-6"
  />
  <Button transition:animate="slide" text="Blog" href="/#blog" class="pl-6" />
  {
    currentPage !== "/grooming" && (
      <Button
        transition:animate="slide"
        text="Pet Grooming"
        href="/grooming"
        class="pl-6"
        data-astro-prefetch
      />
    )
  }
</div>
