---
// Links.astro

interface LinksProps {
  currentPage: string;
}

import Button from "../ui/Button.astro";

const currentPage = Astro.url.pathname as LinksProps["currentPage"];
---

<div class="flex space-x-4">
  <Button text="Products" href="/#products" class="pl-6" />
  <Button text="About Us" href="/#about" class="pl-6" />
  {
    currentPage !== "/grooming" && (
      <Button
        transition:slide
        text="Pet Grooming"
        href="/grooming"
        class="pl-6"
      />
    )
  }
</div>
