---
import OpenStatus from "./OpenStatus.astro";
import Links from "./Links.astro";

import MobileDetect from 'mobile-detect';

const phoneNumber = '508-943-9600';
const address = '86 Worcester Rd, Webster MA';

const userAgent = Astro.request.headers.get('user-agent') ?? '';
const md = new MobileDetect(userAgent);
const isMobile = md.mobile();
---

<section>
  <div>
    <img src="src/assets/phone.svg" alt="phone" />
    {isMobile ? <a href={`tel:${phoneNumber}`}>{phoneNumber}</a> : phoneNumber}
  </div>

  <div>
    <img src="src/assets/map-pin.svg" alt="location" />
    <a href={`https://www.google.com/maps/place/${address}`}>{address}</a>
  </div>

  <OpenStatus />

  <Links />
</section>