---
import OpenStatus from "./OpenStatus.astro";
import Links from "./Links.astro";

import MobileDetect from "mobile-detect";

const phoneNumber = "508-943-9600";
const address = "86 Worcester Rd, Webster";

const userAgent = Astro.request.headers.get("user-agent") ?? "";
const md = new MobileDetect(userAgent);
const isMobile = md.mobile();

const { class: navbarClass = "" } = Astro.props;
---

<section class={`flex w-full mx-auto px-16 pb-2 ${navbarClass} bg-[#FFC66D]`}>
  <div class="flex-1 flex flex-nowrap h-full">
    <div transition:persist class="flex items-center">
      <img src="src/assets/phone.svg" alt="phone" class="pr-2" />
      {
        isMobile ? (
          <a href={`tel:${phoneNumber}`}>{phoneNumber}</a>
        ) : (
          phoneNumber
        )
      }
    </div>

    <div transition:persist class="flex items-center ml-4">
      <img src="src/assets/map-pin.svg" alt="location" class="pr-2" />
      <a
        href="https://www.google.com/maps/place/P+T+Pet+Supply/@42.0714526,-71.8662691,17z/data=!3m1!4b1!4m6!3m5!1s0x89e41ed7234c136d:0xe30644b400274c0!8m2!3d42.0714526!4d-71.8662691!16s%2Fg%2F1tt1tq6m?entry=ttu&g_ep=EgoyMDI0MDkxNi4wIKXMDSoASAFQAw%3D%3D"
        >{address}</a
      >
    </div>
  </div>

  <OpenStatus transition:persist class="flex-1 justify-center" />

  <div class="flex-1 flex justify-end">
    <Links class="flex" />
  </div>
</section>

<!-- Client-side script for handling smallScreen -->
<script>
  const updateLinksForSmallScreen = () => {
    const smallScreen = window.innerWidth < 1200;

    const addressElement = document.querySelector(
      'a[href^="https://www.google.com/maps"]'
    ) as HTMLElement;

    if (addressElement) {
      if (smallScreen) {
        // If small screen, keep the links as-is
        addressElement.innerText = "Visit Us";
      } else {
        addressElement.innerText = "86 Worcester Rd, Webster";
      }
    }
  };

  // Listen for resize events to update dynamically
  window.addEventListener("resize", updateLinksForSmallScreen);
  window.addEventListener("DOMContentLoaded", updateLinksForSmallScreen); // Initial check on load
</script>
