---
import Button from "../ui/Button.astro"
import OpenStatus from "../ui/OpenStatus.astro"
---

<section>
  <div>
    <!-- Phone Number here -->
  </div>

  <div>
    <!-- Location Pin here -->
  </div>

  <OpenStatus />

  <Button text="Grooming Services" href="/grooming" />
  <Button text="Products" href="/#products" />
  <Button text="About Us" href="/#about" />
</section>