---
interface OpenStatusProps {
  storeStatus: string;
}

import { getStoreStatus } from "./StoreHours.astro";

const storeStatus = getStoreStatus() as OpenStatusProps["storeStatus"];
---

<div class="z-30">
  <p class="font-bold text-xl text-[#FFC66D] text-outline -mt-3">
    {storeStatus}
  </p>
</div>
