---
interface OpenStatusProps {
  storeStatus: string,
}

import { getStoreStatus } from './StoreHours.astro';

const storeStatus = getStoreStatus() as OpenStatusProps['storeStatus'];
---

<div>
  <p>{storeStatus}</p>
</div>