---
import Vendors from "../ui/Vendors";
import products from "../../assets/products.webp";
import divider from "../../assets/divider.webp";
---

<section
  id="products"
  class="md:mx-12 lg:mx-36 xl:mx-48 2xl:mx-64 min-[1700px]:mx-80 min-[1900px]:mx-110 -mt-36 pt-32 xl:pt-44"
>
  <img
    src={products.src}
    alt="Products logo"
    class="h-[130px] md:h-[160px] lg:h-[215px] w-auto mx-auto my-6 mt-16"
  />
  <p class="mx-10 sm:mx-16 md:mx-28 text-[#452B1F]">
    At PT Pet Supply, we’ve been dedicated to providing healthy, trustworthy
    products for pets for over 20 years. From high-quality food and toys to
    essential supplies, our selection is carefully curated to meet the needs of
    your furry companions. We also offer grooming items like brushes and
    shampoos to keep your pets clean and comfortable, as well as medical
    supplies to ensure their health and safety. Our store features a variety of
    treats and chews designed for dental wellness, alongside beds and
    accessories that prioritize comfort and happiness. With eco-friendly options
    and toys that encourage mental stimulation, we aim to support the overall
    wellness and joy of pets in every way possible.
  </p>
  <p class="mx-14 sm:mx-20 md:mx-36 text-[#452B1F] font-bold text-center pt-10">
    Provided below is a complete list of our trusted product vendors.
  </p>
  <div class="mx-5 py-10">
    <ul class="flex-row justify-center text-center text-[#452B1F]">
      <Vendors client:load />
    </ul>
  </div>
  <div class="mx-6">
    <img
      src={divider.src}
      alt="Brass fixture section divider"
      class="pt-3 my-4 lg:my-12 h-[30%] w-auto mx-auto"
    />
  </div>
</section>
