---
import Vendors from "../ui/Vendors";
---

<section
  id="products"
  class="md:mx-12 lg:mx-36 xl:mx-48 2xl:mx-64 min-[1700px]:mx-80 min-[1900px]:mx-110 -mt-36 pt-32 xl:pt-44"
>
  <img
    src="/src/assets/products.webp"
    alt="Products logo"
    class="h-[130px] md:h-[160px] lg:h-[215px] w-auto mx-auto my-6 mt-16"
  />
  <p class="mx-10 sm:mx-16 md:mx-28 text-[#452B1F]">
    At PT Pet Supply, we’ve been dedicated to providing healthy, trustworthy
    products for pets for over 20 years. From food and toys to essential
    supplies, our selection is carefully curated to meet the needs of your furry
    companions. Our knowledgeable team is here to help you make informed choices
    for your pet’s health and happiness.
  </p>
  <div class="mx-5 py-10">
    <ul class="grid grid-cols-2 gap-4 text-center text-[#452B1F]">
      <Vendors client:load />
    </ul>
  </div>
  <div class="mx-6">
    <img
      src="/src/assets/divider.webp"
      alt="Brass fixture section divider"
      class="pt-3 my-4 lg:my-12 h-[30%] w-auto mx-auto transform -scale-x-100"
    />
  </div>
</section>
