---
import StaffCarousel from "../ui/StaffCarousel.tsx";

import { getStaffList } from "../../constants/StoreInfo.astro";

const defaultStaffList = getStaffList();
---

<section id="staff" class="relative py-10 tracking-wider">
  <img
    src="src/assets/panel.png"
    alt="Wood paneling background"
    class="absolute z-[-2] inset-0 w-full h-full object-cover"
  />
  <h3 class="px-10 pb-3 font-bold">Meet Our Team</h3>
  <div class="flex justify-center pb-5">
    <StaffCarousel staffList={defaultStaffList} client:idle />
  </div>
</section>
