---
import StaffCarousel from "../ui/StaffCarousel.tsx";

import { getStaffList } from "../../constants/StoreInfo.astro";

const defaultStaffList = getStaffList();
---

<section id="staff" class="relative py-10 tracking-wider text-center">
  <img
    src="src/assets/panel.png"
    alt="Wood paneling background"
    class="absolute z-[-2] inset-0 w-full h-full object-cover"
  />
  <h3
    class="inline-block p-6 font-bold text-4xl tracking-widest bg-[#7F0201] bg-opacity-80 text-white text-outline-white rounded-3xl"
    style={{ backdropFilter: "blur(35px)" }}
  >
    Meet Our Pack
  </h3>
  <div class="flex justify-center py-5">
    <StaffCarousel staffList={defaultStaffList} client:idle />
  </div>
</section>
