---
import StaffCarousel from "../ui/StaffCarousel.tsx";

interface StaffProps {
  name: string;
  role: string;
  bio: string;
  imageSrc: string;
}

const defaultStaffList: StaffProps[] = [
  {
    name: "Yolanda DeGaetano",
    role: "Owner",
    bio: "Lorem ipsum odor amet, consectetuer adipiscing elit. Facilisi purus sagittis eros quam dui commodo egestas ac. Hendrerit placerat donec tincidunt mollis fusce diam pharetra. Vitae tempus orci amet vitae a elit quam dictumst? Risus blandit potenti tortor consectetur pretium vivamus.",
    imageSrc: "https://placehold.co/600x400",
  },
  {
    name: "Carlos Martinez",
    role: "Sales Manager",
    bio: "Lorem ipsum odor amet, consectetuer adipiscing elit. Facilisi purus sagittis eros quam dui commodo egestas ac. Hendrerit placerat donec tincidunt mollis fusce diam pharetra. Vitae tempus orci amet vitae a elit quam dictumst? Risus blandit potenti tortor consectetur pretium vivamus.",
    imageSrc: "https://placehold.co/600x400",
  },
  {
    name: "Sarah Thompson",
    role: "Lead Designer",
    bio: "Lorem ipsum odor amet, consectetuer adipiscing elit. Facilisi purus sagittis eros quam dui commodo egestas ac. Hendrerit placerat donec tincidunt mollis fusce diam pharetra. Vitae tempus orci amet vitae a elit quam dictumst? Risus blandit potenti tortor consectetur pretium vivamus.",
    imageSrc: "https://placehold.co/600x400",
  },
  {
    name: "Alex Ramirez",
    role: "Developer",
    bio: "Lorem ipsum odor amet, consectetuer adipiscing elit. Facilisi purus sagittis eros quam dui commodo egestas ac. Hendrerit placerat donec tincidunt mollis fusce diam pharetra. Vitae tempus orci amet vitae a elit quam dictumst? Risus blandit potenti tortor consectetur pretium vivamus.",
    imageSrc: "https://placehold.co/600x400",
  },
  {
    name: "Mia Jenkins",
    role: "Customer Support",
    bio: "Lorem ipsum odor amet, consectetuer adipiscing elit. Facilisi purus sagittis eros quam dui commodo egestas ac. Hendrerit placerat donec tincidunt mollis fusce diam pharetra. Vitae tempus orci amet vitae a elit quam dictumst? Risus blandit potenti tortor consectetur pretium vivamus.",
    imageSrc: "https://placehold.co/600x400",
  },
  {
    name: "Laura Patel",
    role: "Marketing Specialist",
    bio: "Lorem ipsum odor amet, consectetuer adipiscing elit. Facilisi purus sagittis eros quam dui commodo egestas ac. Hendrerit placerat donec tincidunt mollis fusce diam pharetra. Vitae tempus orci amet vitae a elit quam dictumst? Risus blandit potenti tortor consectetur pretium vivamus.",
    imageSrc: "https://placehold.co/600x400",
  },
  {
    name: "Ethan Brooks",
    role: "Developer",
    bio: "Lorem ipsum odor amet, consectetuer adipiscing elit. Facilisi purus sagittis eros quam dui commodo egestas ac. Hendrerit placerat donec tincidunt mollis fusce diam pharetra. Vitae tempus orci amet vitae a elit quam dictumst? Risus blandit potenti tortor consectetur pretium vivamus.",
    imageSrc: "https://placehold.co/600x400",
  },
  {
    name: "Olivia Carter",
    role: "Graphic Designer",
    bio: "Lorem ipsum odor amet, consectetuer adipiscing elit. Facilisi purus sagittis eros quam dui commodo egestas ac. Hendrerit placerat donec tincidunt mollis fusce diam pharetra. Vitae tempus orci amet vitae a elit quam dictumst? Risus blandit potenti tortor consectetur pretium vivamus.",
    imageSrc: "https://placehold.co/600x400",
  },
];
---

<section id="staff" class="py-10 bg-[#D3D3D3] tracking-wider">
  <h3 class="px-10 pb-3 font-bold">Meet Our Team</h3>
  <div class="flex justify-center pb-5">
    <StaffCarousel staffList={defaultStaffList} client:idle />
  </div>
</section>
