---
import ReviewsCard from "../ui/ReviewsCard.jsx";

const businessId = "YOUR_BUSINESS_ID";
---

<div class="container mx-auto pt-10">
  <ReviewsCard businessId={businessId} client:load />
  <ReviewsCard businessId={businessId} client:load />
  <ReviewsCard businessId={businessId} client:load />
</div>
