---
interface TestimonialsProps {
  apiKey: string;
}

import ReviewsCard from "../ui/ReviewsCard.jsx";

const businessId = "ChIJbRNMI9ce5IkRwHQCQEtkMA4";
const numberOfReviews = 3;

const { apiKey } = Astro.props as TestimonialsProps;
---

<div
  class="flex flex-col xl:flex-row xl:mx-24 justify-center items-center py-10 min-h-[300px]"
>
  {
    [...Array(numberOfReviews)].map((_) => (
      <ReviewsCard
        businessId={businessId}
        apiKey={apiKey}
        client:only="react"
      />
    ))
  }
</div>
