---
interface TestimonialsProps {
  apiKey: string;
}

import Reviews from "../ui/Reviews";

const businessId = "ChIJbRNMI9ce5IkRwHQCQEtkMA4";

const { apiKey } = Astro.props as TestimonialsProps;
---

<div
  class="flex flex-col xl:flex-row xl:mx-24 justify-center items-center py-10 min-h-[300px]"
>
  <Reviews businessId={businessId} apiKey={apiKey} client:only="react" />
</div>
