---
import Header from "../sections/Header.astro";

import { ViewTransitions } from "astro:transitions";

import "@/styles/globals.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>PT Pet Supply</title>
    <link
      rel="preload"
      href="/fonts/CenzoFlare-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <ViewTransitions fallback="animate" />
  </head>
  <body>
    <Header transition:persist />
    <slot />
    <script
      src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"
    ></script>
  </body>
</html>

<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Cenzo Flare", sans-serif;
  }
</style>
