---
import Header from "../sections/Header.astro";

import { ViewTransitions } from "astro:transitions";

import "@/styles/globals.css";
import Footer from "../sections/Footer.astro";
import GoogleMapsLoader from "../ui/GoogleMapsLoader.astro";
import Analytics from "@vercel/analytics/astro";

const apiKey = import.meta.env.PUBLIC_GOOGLE_API_KEY as string;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>PT Pet Supply</title>
    <link
      rel="preload"
      href="/fonts/CenzoFlare-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/SanelmaW00-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <ViewTransitions fallback="animate" />
    <GoogleMapsLoader apiKey={apiKey} />
  </head>
  <body>
    <Header transition:persist />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  body {
    font-family: "Cenzo Flare", sans-serif;
  }
</style>
