---
interface LayoutProps {
  activeAnnouncement: boolean;
}

import Announcements from "../sections/Announcements.astro"
import Navbar from "../sections/Navbar.astro"

import { ViewTransitions } from "astro:transitions";

const { activeAnnouncement = true } = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>PT Pet Supply</title>
		<ViewTransitions />
	</head>
	<body>
		<Announcements isVisible={activeAnnouncement} />
		<Navbar />
    <slot/>
	</body>
</html>

<style>
	html {
    scroll-behavior: smooth;
  }
</style>