---
import funnyCat from "../assets/404.webp";
---

<div class="container">
  <div class="inner-container">
    <img src={funnyCat.src} alt="Funny cat" />
    <h3 class="text">Whoopsies! You weren't supposed to see this page.</h3>
    <a href="/" class="link">Return to Store</a>
  </div>
</div>

<style>
  .container {
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
    height: 70vh; /* Full viewport height */
  }

  .text {
    font-size: 2rem;
  }

  .link {
    font-size: 3rem;
    margin-left: 13.5rem;
  }
</style>
