---
import { Auth } from "auth-astro/components";

import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
if (!session) {
  return Astro.redirect("/login");
}
---

<h1>Sign In</h1>
<Auth provider="github"> Sign in with GitHub </Auth>
