---
import type { CollectionEntry } from "astro:content";

// Receive the post prop
const { post }: { post?: CollectionEntry<"blog"> } = Astro.props;
---

<section>
  <div>
    <a href={`/blog/${post?.slug}/`}>{post?.data.title}</a> -{" "}
  </div>
  <p>
    {post?.body}
  </p>
</section>
