---
const ADDRESS = "86 Worcester Rd, Webster, MA 01570";
---

<div
  id="map"
  class="w-[300px] min-[600px]:w-[400px] md:w-[300px] lg:w-[400px] h-[250px] md:h-[500px]"
>
</div>

<script define:vars={{ ADDRESS }}>
  async function initMap() {
    console.log("initMap function executed");
    const { Map } = await google.maps.importLibrary("maps");
    console.log("Google Maps library imported");
    const { Geocoder } = await google.maps.importLibrary("geocoding");
    console.log("Geocoding library imported");
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
    console.log("AdvancedMarkerElement library imported");

    const map = new Map(document.getElementById("map"), {
      zoom: 17,
      center: { lat: 0, lng: 0 },
      mapId: "DEMO_MAP_ID",
    });

    const geocoder = new Geocoder();
    try {
      const results = await geocoder.geocode({ address: ADDRESS });
      console.log("Geocoding Results:", results);

      if (results.results.length > 0) {
        const location = results.results[0].geometry.location;
        map.setCenter(location);
        new AdvancedMarkerElement({
          map: map,
          position: location,
        });
      } else {
        throw new Error("No results found");
      }
    } catch (error) {
      console.error("Geocode was not successful:", error);
    }
  }

  if (typeof window !== "undefined") {
    window.initMap = initMap;
  }

  if (!window.google) {
    console.error("Google Maps script not loaded");
    return;
  }
</script>
