---
interface StaffMember {
  name: string;
  role: string;
  bio: string;
  imageSrc: string;
}

import StaffCard from "./StaffCard.astro";
import CarouselControls from "./CarouselControls.astro";

const staffList: StaffMember[] = [
  {
    name: "Yolanda DeGaetano",
    role: "Owner",
    bio: "Yolanda has over 10 years of experience in marketing and specializes in customer relations.",
    imageSrc: "",
  },
  {
    name: "John Smith",
    role: "Sales Manager",
    bio: "John is an expert in business-to-business sales and customer retention strategies.",
    imageSrc: "",
  },
  {
    name: "Sarah Thompson",
    role: "Lead Designer",
    bio: "Sarah has a keen eye for detail and brings a unique design aesthetic to all our projects.",
    imageSrc: "",
  },
  {
    name: "Mike Johnson",
    role: "Developer",
    bio: "Mike specializes in full-stack development, with a focus on performance and scalability.",
    imageSrc: "",
  },
];

const itemsPerPage = 1;
const totalPages = Math.ceil(staffList.length / itemsPerPage);
const getInitialStaff = () => staffList.slice(0, itemsPerPage);
---

<div class="max-w-2xl mx-auto">
  <div class="h-full w-full">
    {
      getInitialStaff().map((staff, index) => (
        <StaffCard key={index} {...staff} />
      ))
    }
  </div>

  <!-- Carousel Controls and Pagination -->
  <!-- <CarouselControls totalPages={totalPages} client:visible /> -->
</div>
