---
// Props for the staff card
interface Props {
  name: string;
  role: string;
  bio: string;
  imageSrc: string;
  key: number;
}

const { name, role, bio, imageSrc } = Astro.props;
---

<div class="flex w-[500px] bg-[#FFC66D]">
  <img
    class="w-auto h-auto rounded-md"
    src="https://placehold.co/300x300"
    alt={name}
  />
  <div class="p-4 w-auto h-auto">
    <h3 class="font-bold text-2xl mb-2">{name}</h3>
    <p class="font-bold text-red-800 mb-2">{role}</p>
    <p class="text-gray-800 text-sm">{bio}</p>
  </div>
</div>
